body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f7;
  color: #333;
}



.section {
  padding: 60px 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1b5e20;
}
