.navbar {
  background-color: #388e3c;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease, color 0.2s ease;
}

.navbar a:hover {
  color: #90ee90;         
  transform: translateX(-2px);
  
}
